name: Android CI
    
    on:
      push:
        branches: [ "main" ]
      pull_request:
        branches: [ "main" ]
    
    jobs:
      build:
        runs-on: ubuntu-latest
    
        steps:
        - uses: actions/checkout@v3
    
        - name: Set up Python
          uses: actions/setup-python@v3
          with:
            python-version: '3.9'
    
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install buildozer
            sudo apt-get update
            sudo apt-get install -y \
              python3-pip \
              build-essential \
              git \
              python3 \
              python3-dev \
              ffmpeg \
              libsdl2-dev \
              libsdl2-image-dev \
              libsdl2-mixer-dev \
              libsdl2-ttf-dev \
              libportmidi-dev \
              libswscale-dev \
              libavformat-dev \
              libavcodec-dev \
              zlib1g-dev \
              libgstreamer1.0 \
              libgstreamer-plugins-base1.0-dev \
              libgstreamer1.0-dev
            
        - name: Build with Buildozer
          run: |
            buildozer android debug
    
        - name: Upload APK
          uses: actions/upload-artifact@v2
          with:
            name: contractor-boss-apk
            path: bin/*.apk
    
