name: Android CI Build
    on:
      push:
        branches: [ "main" ]
    jobs:
      build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - name: Build with Buildozer
            uses: ArtemSerebriakov/buildozer-action@v1
            with:
              workdir: .
              buildozer_version: stable
          - name: Upload APK
            uses: actions/upload-artifact@v3
            with:
              name: ContractorBOSS-Latest
              path: bin/*.apk
